---
import Layout from "@/layouts/Layout.astro";
import Ape from "@/icons/ape.astro";
---

<Layout title="Bienvendios a mi portfolio | DVYD">
  <main>
    <Ape/>
    <p>
      lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed excepturi,
      eaque dolores sint non quibusdam qui eos temporibus sunt autem consectetur
      praesentium quis pariatur, iusto quasi odio, nisi sit! Eveniet.
    </p>
  </main>
</Layout>

<style></style>
