@layer themes {
  :root {
    --color-twitch: #9146ff;
    --color-twitch-ice: #f0f0ff;
  }

  [theme-color="light"] {
    --color-primary: #333;
    --color-secondary: #ddd;

    --background-color: #bbb;
    --background-twitch: #000;
  }

  [theme-color="dark"] {
    --color-primary: #ddd;
    --color-secondary: #333;

    --background-color: #333;
    --background-twitch: var(--color-twitch-ice);
  }

  [theme-color="pink"] {
    --color-primary: #f87dcb;
    --color-secondary: #552740;

    --background-color: #3b0d2e;
    --background-twitch: var(--color-twitch-ice);
  }

  [theme-color="green"] {
    --color-primary: #b4f87d;
    --color-secondary: #275529;

    --background-color: #0d3b19;
    --background-twitch: var(--color-twitch-ice);
  }
}
